#createPackagePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  form {
    width: 60%;
  }

  #createdPackageInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 60%;

    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid var(--darkGrey);

    canvas {
      border-radius: 10px;
      padding: 5px;
      background-color: var(--orange);
    }
  }
}
