* {
  font-family: 'Jost', sans-serif;

  --white: #fff;
  --black: #000;

  --lightGrey: #fafafa;
  --midGrey: #E0E0E0;
  --darkGrey: #383838;

  --red: #E44E4E;

  --orange: #FFDA6C;
  --darkOrange: #F2B22B;

  --green: #A0DD55;

  --purple: #6854ca;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--lightGrey);
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
